@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #303030;
  color: #9d7135;
  font-family: 'Poppins', sans-serif;
}

.card {
  border-color: #9d7135;
  border-width: 2px;
}

body {
    background-color: #303030;
    color: #9d7135;
}

#btnsubmit {
    background-color: #9d7135;
    color: white;
}

.card-body {
  background-color: #1E1E1E;
  border: 10px;
  border-color: #9d7135;

}
.card-title {
  color: #9d7135;
}
.card-text {
  color: white;
}
.cardDate {
  color:#9d7135;
}

#newsTitle {
  background-color: #1E1E1E;
}
#btnBefore {
  background-color: #9d7135;
  color: white;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(/public/assets/font/Poppins-Regular.ttf);
}
